body {
  background-image: url("../images/img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important

}


h1{

  border-left: 2px solid red;
  border-right: 4px solid red;
  border-top: 6px solid orange;
  border-bottom: 8px solid orange;
  font-size: 30px;
  text-align: center;
  color: #034f84;
}
.jumbotron{

}
.sidebar{
  float: right;
  background-color: yellow;
}

 .container{
   font-size: 25px;
   color: #36286b;
 }
 .descrip{
   font-size: 25px;
   text-align: left;
   color: #bc5a45;
 }
 .radio-niki{
   color: #c83349;
 }
 .niki{
   color: #77a8a8;
 }
 .naky{
   text-align: left;
   color: #Blue;;
 }


.label{
  color: Blue;
}
