body {
  background-image: url("../images/akin.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important

}


h1{
  font-size: 30px;
  text-align: center;
  color: #034f84;
}
 h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: ;
}


 .well,.descrip{
   text-align: left;
   color:#618685;
 }
 .radio-niki{
   color: #c83349;
 }
 .niki{
   color: #77a8a8;
 }
 .naky{
   color:  #c83349;;
 }
.container{
  color: #618685;
}
