body {
  background-image: url("../images/akin.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important

}


h1{

  border-left: 2px solid red;
  border-right: 4px solid red;
  border-top: 6px solid orange;
  border-bottom: 8px solid orange;
  font-size: 30px;
  text-align: center;
  color: #034f84;
}
.jumbotron{

}

 .well,.descrip{
   text-align: left;
   color:#618685;
 }
 .radio-niki{
   color: #c83349;
 }
 .niki{
   color: #77a8a8;
 }
 .naky{
   color:  #c83349;;
 }
.container{
  color: #618685;
}
.label{
  color: red;
}
